* {box-sizing: border-box;}

body, .topnav {
  /* margin: 30px; */
  font-family: Arial, Helvetica, sans-serif;
  background: url("../img/flag.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

#recent-search, #loginButton, #registerButton {
  background-color: #2196F3;

}

.topnav {
 padding-bottom: 50px;
 padding-top: 30px;
 padding-left: 60px;
 padding-right: 10px;
}

.topnav input[type=text] {
  margin-top: 20px;
  width:220px;
}

#loginButton:hover, #registerButton:hover {
  background-color: red;
}

.card {
  min-height: 500px;
  margin: auto;
}

h1 {
  color: white;
}

.display {
  display: none;
}