* {box-sizing: border-box;}

body, .topnav {
  /* margin: 30px; */
  font-family: Arial, Helvetica, sans-serif;
  background: url("../img/flag.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

#recent-search, #loginButton, #registerButton {
  background-color: #2196F3;
  margin-top: 8px;
}

.topnav {
  margin-top: 10px;
}

.topnav input[type=text] {
  margin-top: 20px;
  width:220px;
}

#loginButton:hover, #registerButton:hover {
  background-color: red;
}
