* {box-sizing: border-box;}

body {
  margin: 20;
  font-family: Arial, Helvetica, sans-serif;
  background: url("../img/flag.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
  background: url("../img/flag.jpg");
  background-repeat: no-repeat;
  background-size: cover;


  /* background-image: url("../img/flag.jpg"); */
}

.container-fluid {
  float: right;
}

#recent-search {
  background-color: #2196F3;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

#form {
  float: right;
}


.topnav .login-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width:120px;
}

#loginButton, #registerButton {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background-color: #555;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

#loginButton:hover, #registerButton:hover {
  background-color: green;
}

@media screen and (max-width: 600px) {
  .topnav .login-container {
    float: right;
  }
  .topnav a, .topnav input[type=text], #loginButton, #registerButton {
    float: right;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}